body {
    font-family: Arial;
    margin-left: 20px;
    background-color: lightgray;
}

.form {
    padding: 10px;
}

.list {
    display: block;
    padding: 5px;
}

#submit-btn {
    background-color: black;
    color: white;
}

#list-bucket {
    margin-top: 20px;
}
